<div class="card shadow m-1">
    <div class="row px-3 py-2 align-items-center">
        <div class="d-flex flex-row col-2">
            {{post?.created | date}}
        </div>
        <div class="d-flex flex-row col-4">
            <strong> {{post?.idNumber}} </strong> &nbsp;&nbsp;|&nbsp;&nbsp;
            <strong> {{post?.title}} </strong>

        </div>
        <div class="d-flex flex-row-reverse col-4">
            <div class="d-grid gap-2">
                <div class="button-group ">
                    <button (click)="collectPost()" class="btn btn-success me-2">Collect Post</button>
                    <button (click)="viewPost()" class="btn btn-primary me-2">View Post</button>
                    <button (click)="deletePost()" class="btn btn-danger"> Delete </button>
                </div>
            </div>
        </div>
    </div>
</div>