<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <h2 class="text-center text-primary"> New User Sign Up</h2>
                <hr>
                <div class="mb-3">

                    <div class="mb-3">

                        <label style="margin-right:10px">I am a: </label>
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="radioMale" value="male" formControlName="gender">
                            Male
                        </label>
                        <label class="form-check-label ms-3">
                            <input type="radio" class="form-check-input" id="radioFemale" value="female" formControlName="gender">
                            Female
                        </label>
                    </div>

                    <app-text-input [formControl]="$any(registerForm.controls['firstName'])" [label]="'First Name'" [id]="'firstName'"></app-text-input>
                    <app-text-input [formControl]="$any(registerForm.controls['lastName'])" [label]="'Last Name'" [id]="'lastName'"></app-text-input>
                    <app-date-picker [formControl]="$any(registerForm.controls['dob'])" [label]="'Date of Birth'" [id]="'dob'"></app-date-picker>
                    <app-text-input [formControl]="$any(registerForm.controls['nationality'])" [label]="'Nationality'" [id]="'nationality'"></app-text-input>
                    <app-text-input [formControl]="$any(registerForm.controls['idNumber'])" [label]="'ID Number'" [id]="'idNumber'"></app-text-input>
                    <app-text-input [formControl]="$any(registerForm.controls['address'])" [label]="'Address'" [id]="'address'"></app-text-input>
                    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'" [id]="'username'"></app-text-input>
                    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [id]="'password'" [type]="'password'"></app-text-input>

                    <div class="text-center">
                        <button class="btn btn-success me-2" type="submit">Register</button>
                        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status | json}}</p>