<div class="container">
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4 ">
            <div (click)="registerUser()" class="card shadow border-start-primary py-2 dashboardButton">
                <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase fw-bold mb-1">
                                <a class="text-decoration-none text-dark">Register New User</a>
                            </div>
                            <!-- <div class=" text-dark fw-bold h5 mb-0 " style="margin-top: -6px; ">
                                <span style="font-size: 14px; ">
                                    <i class="fas fa-caret-up " style="margin-right: 6px;color: var(--bs-success);font-size: 16px; "></i>
                                </span>
                                <span style="font-size: 14px; ">221 ème</span>
                                <span style="font-size: 10px;margin-left: 12px;color: var(--bs-gray-600); ">1325 points</span>
                            </div> -->
                        </div>
                        <div class="col-auto ">
                            <i class="fa fa-user fa-2x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2 dashboardButton">
                <div class="card-body " style="padding-bottom: 0px;padding-top: 0px; ">
                    <div class="row align-items-center no-gutters ">
                        <div class="col me-2 ">
                            <div class="text-uppercase fw-bold mb-1 ">
                                <a class="text-decoration-none text-dark ">Reset User Password</a>
                            </div>
                        </div>
                        <div class="col-auto ">
                            <i class="fa fa-lock fa-2x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2 dashboardButton">
                <div class="card-body " style="padding-bottom: 0px;padding-top: 0px; ">
                    <div class="row align-items-center no-gutters ">
                        <div class="col me-2 ">
                            <div class="text-uppercase fw-bold mb-1 ">
                                <a class="text-decoration-none text-dark ">Search Post</a>
                            </div>
                        </div>
                        <div class="col-auto ">
                            <i class="fa fa-search fa-2x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2 dashboardButton">
                <div class="card-body " style="padding-bottom: 0px;padding-top: 0px; ">
                    <div class="row align-items-center no-gutters ">
                        <div class="col me-2 ">
                            <div class="text-uppercase fw-bold mb-1 ">
                                <a class="text-decoration-none text-dark ">Register New User</a>
                            </div>
                        </div>
                        <div class="col-auto ">
                            <i class="fa fa-plus fa-2x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>