<div class="card mb-4" *ngIf="user">
    <div class="card-img-wrapper">
        <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.firstName}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/users/{{user.userName}}" class="btn btn-primary">
                    <i class="fa fa-user"></i>
                </button>
                <button class="btn btn-primary ms-2">
                    <i class="fa fa-envelope"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="fw-bold text-center">{{user.idNumber}}</h6>
        <h5 class="card-title text-center mb-1">
            <i class="fa fa-user me2"></i>
            <span class="fw-bold"> {{user.firstName}} {{user.lastName}} </span>
        </h5>
        <diV>
            <p class="card-text text-muted text-center">{{user.age}}, {{user.country}}</p>
        </diV>
        <div class="card-text text-center"> <i class="fa fa-home"></i> {{user.address}}</div>

    </div>

    <!-- will think about this later -->
    <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col ">ID #:</div>
                <div class="col text-end fw-bold">{{user.idNumber}}</div>
            </div>
            <div class="row">
                <div class="col">Nationality:</div>
                <div class="col text-end fw-bold">{{user.idNumber}}</div>
            </div>
        </li>
    </ul> -->
</div>