<div class="container m-4">
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
        <div class="card">
            <div class="card-header border-left-danger text-bg-danger">
                <h3 class="card-title">Reset User's Password</h3>
            </div>
            <div class="card-body">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 text-dark">
                            <h5 class="card-title">User Information</h5>
                            <div class="row">
                                <div class="col-10">
                                    <app-text-input [formControl]="$any(passwordForm.controls['username'])" [label]="'ID NUMBER ...'" [id]="'username'"></app-text-input>
                                </div>
                                <div class="col-2 p-2">
                                    <button (click)="getUser($event)" class="btn btn-outline-danger">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card shadow my-2">
                                <div *ngIf="user">
                                    <div class="align-items-center pt-3 px-3">
                                        <div class="col-md-12 align-items-center">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.firstName}}" class="form-control readonly" readonly disabled id="firstName" placeholder="First Name">
                                                        <label for="firstName">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.lastName}}" class="form-control readonly " readonly disabled id="lastName" placeholder="First Name">
                                                        <label for="lastName">Last Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.country}}" class="form-control readonly " readonly disabled id="country" placeholder="Nationality">
                                                        <label for="country">Nationality</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.address}}" class="form-control readonly " readonly disabled id="address " placeholder="Address">
                                                        <label for="address">Address</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!user">
                                    <div class="col-md-12 align-items-center p-4">
                                        <strong>User not found!</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h5 class="card-title">Password</h5>
                            <app-text-input [formControl]="$any(passwordForm.controls['password'])" [label]="'Password'" [id]="'password'" [type]="'password'"></app-text-input>
                            <div *ngIf="IsPasswordVisible === false">
                                <label class="me-1" (click)="showPassword()"> SHOW PASSWORD</label>
                            </div>
                            <div *ngIf="IsPasswordVisible === true" class="row">
                                <div class="col">
                                    <label class="me-1" (click)="showPassword()">HIDE PASSWORD </label>

                                </div>
                                <div class="col">
                                    <h5>{{passwordForm.controls['password'].value}}</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer align-item-center justify-content-center">
                <button type="submit" class="btn btn-danger">Reset Password</button>
                <button (click)="cancel($event)" class="btn btn-secondary mx-3">Cancel</button>
            </div>
        </div>
    </form>
</div>