<div class="container d-flex justify-content-center align-items-center">

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="mb-3">
                    <img src="./assets/404.jpg" height="300px" width="300px" alt="Image" class="img-fluid">
                </div>
                <h1 class="display-5">Oops! the page not found.</h1>
                <p class="mb-4">Or simply leverage the expertise of our consultation team.
                </p>
                <a href="/home" class="btn btn-lg btn-outline-dark fst-italic"> ... back to Home</a>
            </div>
        </div>
    </div>
</div>