<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-bg-dark mb-3">
                    <div class="card-header">
                        <h5 class="card-title">Filters</h5>
                    </div>
                    <div class="card-body text-white">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary">Upcoming Events</button>
                            <button type="button" class="btn btn-outline-secondary my-btn">Tomorrow</button>
                            <button type="button" class="btn btn-outline-secondary my-btn">Next Week</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="overflow-y: scroll; height: 600px;">
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" style="height: 250px;">
                                <img src="https://randomuser.me/api/portraits/women/8.jpg" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos necessitatibus atque magnam commodi nobis molestiae fuga nulla numquam rem, voluptatibus blanditiis natus esse. Dicta non tempora accusantium cupiditate
                                        praesentium facilis?</p>

                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" style="height: 250px;">
                                <img src="https://randomuser.me/api/portraits/women/12.jpg" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos necessitatibus atque magnam commodi nobis molestiae fuga nulla numquam rem, voluptatibus blanditiis natus esse. Dicta non tempora accusantium cupiditate
                                        praesentium facilis?</p>

                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" style="height: 250px;">
                                <img src="https://randomuser.me/api/portraits/women/8.jpg" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos necessitatibus atque magnam commodi nobis molestiae fuga nulla numquam rem, voluptatibus blanditiis natus esse. Dicta non tempora accusantium cupiditate
                                        praesentium facilis?</p>

                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" style="height: 250px;">
                                <img src="https://randomuser.me/api/portraits/women/12.jpg" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos necessitatibus atque magnam commodi nobis molestiae fuga nulla numquam rem, voluptatibus blanditiis natus esse. Dicta non tempora accusantium cupiditate
                                        praesentium facilis?</p>

                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" style="height: 250px;">
                                <img src="https://randomuser.me/api/portraits/women/8.jpg" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos necessitatibus atque magnam commodi nobis molestiae fuga nulla numquam rem, voluptatibus blanditiis natus esse. Dicta non tempora accusantium cupiditate
                                        praesentium facilis?</p>

                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4" style="height: 250px;">
                                <img src="https://randomuser.me/api/portraits/women/12.jpg" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos necessitatibus atque magnam commodi nobis molestiae fuga nulla numquam rem, voluptatibus blanditiis natus esse. Dicta non tempora accusantium cupiditate
                                        praesentium facilis?</p>

                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>