<div class="contianer">
    <div class="card">
        <form [formGroup]="postForm" (ngSubmit)="addPost()" autocomplete="off">
            <div class="card-header bg-primary text-white">
                <h4 class="class-title">Add Post</h4>
            </div>
            <div class="class-body px-3 py-2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <app-text-input [formControl]="$any(postForm.controls['appUserId'])" [label]="'Person ID'" [id]="'appUserId'" [type]="'number'"></app-text-input>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control readonly" readonly id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Person Name</label>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <app-text-input [formControl]="$any(postForm.controls['title'])" [label]="'Title'" [id]="'title'"></app-text-input>
                            <app-text-input [formControl]="$any(postForm.controls['description'])" [label]="'Description'" [id]="'description'"></app-text-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col text-start">
                        <button [formGroup]="postForm" type="submit" class="btn btn-primary m-1">Add Post</button>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-warning m-1">Clear All</button>
                        <button class="btn btn-secondary m-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>