<div class="contianer">
    <div class="card">
        <form [formGroup]="postForm" (ngSubmit)="addPost()" autocomplete="off">
            <div class="card-header bg-primary text-white">
                <h4 class="class-title">Add Post</h4>
            </div>
            <div class="card-body px-3 py-2">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <app-text-input [formControl]="$any(postForm.controls['appUserId'])" [label]="'Person ID'" [id]="'appUserId'"></app-text-input>

                            <div class="card shadow ">
                                <div *ngIf="user && validateUserId() && user !== null">
                                    <div class="align-items-center pt-3 px-3">
                                        <div class="col-md-12 align-items-center">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.firstName}}" class="form-control readonly" readonly disabled id="firstName" placeholder="First Name">
                                                        <label for="firstName">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.lastName}}" class="form-control readonly " readonly disabled id="lastName" placeholder="First Name">
                                                        <label for="lastName">Last Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="row ">
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.country}}" class="form-control readonly " readonly disabled id="country" placeholder="Nationality">
                                                        <label for="country">Nationality</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-floating mb-3 ">
                                                        <input type="text" value="{{user.address}}" class="form-control readonly " readonly disabled id="address " placeholder="Address">
                                                        <label for="address">Address</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!user || !validateUserId() || user === null">
                                    <div class="col-md-12 align-items-center p-4">
                                        <strong>User not found!</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <app-text-input [formControl]="$any(postForm.controls['title'])" [label]="'Post Title'" [id]="'title'"></app-text-input>
                            <app-text-area [formControl]="$any(postForm.controls['description'])" [label]="'Post Description'" [id]="'description'"></app-text-area>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col text-start ">
                        <button [formGroup]="postForm" type="submit" class="btn btn-primary m-1">Add Post</button>
                    </div>
                    <div class="col text-end">
                        <button class="btn btn-warning m-1" (click)="resetForm()">Clear All</button>
                        <button class="btn btn-secondary m-1" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>