<!-- <div class="row">
    <div class="col" *ngFor="let user of users">
        <app-user-card [user]="user"></app-user-card>
    </div>
</div> -->

<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadUsers()" autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label">Age from:</label>
            <input type="number" name="minAge" style="width: 70px;" [(ngModel)]="userParams.minAge" class="form-control ms-1">
        </div>
        <div class="d-flex mx-2">
            <label class="col-form-label">Age to:</label>
            <input type="number" name="maxAge" style="width: 70px;" [(ngModel)]="userParams.maxAge" class="form-control ms-1">
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-xl-2" *ngFor="let user of users">
            <app-user-card [user]="user"></app-user-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>