<header>
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold mb-5">Stay Connected&nbsp;<br>Receive Your&nbsp;<span class="underline">Posts</span>.<br><strong>Anywhere, Anytime!</strong></h1>
                    <p class="fs-5 text-muted mb-5">Stay connected and receive your posts anywhere, anytime with our convenient and easy-to-user platform. Never miss an event or important post.</p>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"><img class="img-fluid" src="./assets/meeting.svg" style="width: 800px;"></div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card border-light border-1 d-flex justify-content-center p-4">
                    <div class="card-body">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div>
                            <h4 class="fw-bold">Posts</h4>
                            <p class="text-muted">The best place to view and access your posts in real-time, right your account.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light border-1 d-flex justify-content-center p-4">
                    <div class="card-body">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div>
                            <h4 class="fw-bold">Events</h4>
                            <p class="text-muted">Check out the events, be aware of the events coming up next.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-light border-1 d-flex justify-content-center p-4">
                    <div class="card-body">
                        <div class="bs-icon-lg bs-icon-rounded bs-icon-secondary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-4 bs-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div>
                            <h4 class="fw-bold">User Management</h4>
                            <p class="text-muted">The admin can manage the users, add post, add event and so much more.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="display-6 fw-bold pb-md-4">Features that make office more&nbsp;<span class="underline">productive</span></h3>
            </div>
            <div class="col-md-6 pt-4">
                <p class="text-muted mb-4">Productivity is key to accomplishing more tasks in less time. This platform will help you to achieve that productivity by providing the following features and much more.</p>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <div class="row gy-2 row-cols-1 row-cols-sm-2">
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-orange">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                                <h5 class="fw-bold mb-0 ms-2">Users</h5>
                            </div>
                            <p class="text-muted my-3">Auctor nisi et, habitant gravida ad lectus posuere.</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-orange">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                                <h5 class="fw-bold mb-0 ms-2">Posts</h5>
                            </div>
                            <p class="text-muted my-3">Auctor nisi et, habitant gravida ad lectus posuere.</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-orange">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                                <h5 class="fw-bold mb-0 ms-2">Events</h5>
                            </div>
                            <p class="text-muted my-3">Auctor nisi et, habitant gravida ad lectus posuere.</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-primary bg-orange">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                            </svg>
                                <h5 class="fw-bold mb-0 ms-2">Management</h5>
                            </div>
                            <p class="text-muted my-3">Auctor nisi et, habitant gravida ad lectus posuere.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last">
                <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="./assets/teamwork.svg"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div><img class="rounded img-fluid fit-cover" style="min-height: 300px;" src="./assets/presentation.svg" width="800"></div>
            </div>
            <div class="col">
                <div style="max-width: 450px;">
                    <h3 class="fw-bold pb-md-4">Why to use&nbsp;<span class="underline">Mit AsylCenter</span></h3>
                    <p class="text-muted py-4 py-md-0">Venenatis leo imperdiet magna enim eu quisque, metus gravida pulvinar morbi.</p>
                    <div class="row gy-4 row-cols-2 row-cols-md-2">
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-orange">1M+</span>
                                <p class="fw-normal text-muted">Users support</p>
                            </div>
                        </div>
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-orange">1000+</span>
                                <p class="fw-normal text-muted">Office stuff support</p>
                            </div>
                        </div>
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-orange">10M+</span>
                                <p class="fw-normal text-muted">Posts support for single user</p>
                            </div>
                        </div>
                        <div class="col">
                            <div><span class="fs-2 fw-bold text-primary bg-orange">100M+</span>
                                <p class="fw-normal text-muted">Events storage capacity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="bg-primary border rounded border-0 border-primary overflow-hidden">
            <div class="row g-0">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <div class="text-white p-4 p-md-5">
                        <h2 class="fw-bold text-white mb-3">Security is our priority!</h2>
                        <p class="mb-4">The most advance security authentication and authorization implemented</p>
                        <div class="my-3"><a href="developer/contact" class="btn bg-orange me-2 mt-2">Security Matter!</a></div>
                    </div>
                </div>
                <div class="col-md-6 order-first order-md-last" style="min-height: 250px;"><img class="w-100 h-100 fit-contain pt-5 pt-md-0" src="./assets/web-development.svg"></div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5 mb-5">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold mb-5"><span class="pb-3 underline">FAQ<br></span></h2>
                <p class="text-muted mb-5">Some questions are already answered here, hope get it out.</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-8 mx-auto">
                <div class="accordion text-muted" role="tablist" id="accordion-1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">How to use it?</button></h2>
                        <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p>Very simple, contact the office and they will create an account for you. And then you will receive your id and password.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">Can I receive my posts in real-time?</button></h2>
                        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">Forgot password?</button></h2>
                        <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold text-orange mb-2">Not sure how to use the platform?</h2>
                <p class="mb-0">You are very welcome to contact the developer about more details.</p>
            </div>
            <div class="my-2"><a href="developer/contact" class="btn btn-light fs-5 py-2 px-4" role="button">Contact Developer</a></div>
        </div>
    </div>
</section>
<app-footer></app-footer>