<div class="container mt-5">
    <div style="text-align: center;">
        <h1>Hello, Good to see you here</h1>
        <p class="lead"> If you are new and want to activate your account, just the visit the office</p>
        <div class="tex-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register new User</button>
            <button class="btn btn-primary btn-lg me-2">Learn more</button>
        </div>
    </div>

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center text-center py-4">
            <h4>Please Contact The Admin to create a new account!</h4>
        </div>

        <img src="https://www.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_8030430.htm#query=404%20not%20found%20png&position=13&from_view=search&track=robertav1_2_sidr" alt="404 Not found">
    </div>
</div>