<ng-container>
    <div *ngIf="post">
        <div class="container py-3">
            <div class="card border-primary shadow mb-3">
                <div class="card-header bg-primary text-light align-items-center">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">{{post.title}}</h5>
                        </div>
                        <div class="col-4 text-end">
                            <button (click)="translate()" class="btn btn-outline-warning">Translate</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{post.description}}</p>
                </div>
                <div class="card-footer bg-primary-emphasis">
                    <div class="col">
                        <div class="row">
                            <div class="col"> {{post.created | date}} | {{post.created | timeago}} </div>
                            <div class="col">
                                <span *ngIf="post.isCollected" class="badge bg-warning"> Not Collected </span>
                                <span *ngIf="!post.isCollected" class="badge bg-success"> Collected </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isTranslate">
        <div class=" container py-3 ">
            <div class="card border-success shadow mb-3 ">
                <div class="card-header bg-success text-light align-items-center ">
                    <div class="row ">
                        <div class="col-8 ">
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-sm btn-outline-dark">
                                        Read
                                    </button>
                                </div>
                                <div class="col-10">
                                    <h5 class="card-title ">{{post?.title}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-end ">
                            <button (click)="deTranslate() " class="btn btn-danger ">Close</button>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-1">
                            <button class="btn btn-sm btn-outline-dark">
                                Read
                            </button>
                        </div>
                        <div class="col-11">
                            <p class="card-text ">{{post?.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</ng-container>