<div class="card mb-3" *ngIf="event">
    <div class="row g-0">
        <div class="col-md-4" style="height: 250px;">
            <img src="{{event.photoUrl}}" style="height: 100%; object-fit: cover;" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="col-12">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title"> {{event.title}} </h5>
                        </div>
                        <div class="col-3 text-end">
                            <p class="card-text"><small class="text-muted"> <cite> {{event.created | timeago}} </cite></small></p>
                        </div>
                    </div>
                </div>
                <p class="card-text"> {{event.content}} </p>

                <div class="col-12">
                    <div class="row">
                        <div class="col-4 fs-6">
                            <small><i class="fa fa-calendar"></i> {{event.date | date}} </small>
                        </div>
                        <div class="col-4 text-center"> <small> <i class="fa fa-clock-o"></i> {{formatTime(event.time)}}  </small></div>
                        <div class="col-4 text-end"> <small> <i class="fa fa-map-marker"></i> -- under cons </small></div>
                    </div>
                </div>

                <!-- The feedback part is set to not visible yet, should create a new component for the feedback -->
                <div *ngIf="!event">
                    <hr class="pb-0 mb-0">
                    <div class="col-12 pb-1">
                        <div class="row">
                            <div class="col-4">
                                <span style="width: 66px;" class="badge text-bg-primary">135</span>
                            </div>
                            <div class="col-4 text-center"> <span style="width: 102px;" class="badge text-bg-dark">23</span> </div>
                            <div class="col-4 text-end"> <span style="width: 104px;" class="badge text-bg-success">45</span> </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <button class="btn btn-outline-primary">Like
                                <i class="fa fa-thumbs-o-up"></i>
                            </button>
                            </div>
                            <div class="col-4 text-center">
                                <button class="btn btn-outline-dark">Comment <i class="fa fa-commenting-o"></i> </button>
                            </div>
                            <div class="col-4 text-end">
                                <button class="btn btn-outline-success"> Interested <i class="fa fa-hand-paper-o"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>