<!-- <li class="list-group-item d-flex justify-content-between align-items-center ">
        Morbi leo risus
        <span class="badge bg-primary rounded-pill ">1</span>
    </li> -->
<li *ngIf="post">
    <div class="card shadow m-1">
        <div class="row px-3 py-2 align-items-center">
            <div class="d-flex flex-row col-2">
                {{post.created | date}} | {{post.created | timeago}}
            </div>
            <div class="d-flex flex-row col-4">
                <strong> {{post.title}} </strong>
            </div>
            <div class="d-flex flex-row-reverse col-4">
                <div class="d-grid gap-2">
                    <span class="badge bg-warning"> Not Collected </span>
                    <div class="button-group ">
                        <button class="btn btn-primary me-2">View</button>
                        <button class="btn btn-danger">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>