<div class="text-center mt-3">
    <h3>Total <span *ngIf="events">{{events.length}}</span> <span *ngIf="!events">0</span> upcomming events</h3>
</div>

<div class="container mt-3">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="!events">
                    <strong>No Posts found!</strong>
                </div>
                <div *ngIf="events">
                    <div class="card my-2 text-bg-primary">
                        <div class="row px-3 py-2">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4 col-md-2 fw-bold">Image</div>
                                    <div class="col-8 col-md-4 fw-bold">Title</div>
                                    <div class="col-6 col-md-2 fw-bold">Date | Time</div>
                                    <div class="col-6 col-md-2 fw-bold">Feedback</div>
                                    <div class="col-12 col-md-2 fw-bold">Action Buttons</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let event of events">
                        <app-event-search-card [event]="event" (editEvent)="edit($event)" (deleteEvent)="delete($event)"></app-event-search-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #confirmDialog>
    <div class="modal-body text-center">
        <p>Are you sure want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
</ng-template>