<div class="row" *ngIf="user">
    <div class="col-4">
        <div class="card shadow">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.firstName}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <h3>{{user.firstName}} {{user.lastName}}</h3>
                <div>
                    <strong>ID Number:</strong>
                    <p>{{user.idNumber}}</p>
                </div>
                <div>
                    <strong>Nationality:</strong>
                    <p>{{user.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{user.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{user.lastActive}}</p>
                </div>
                <div>
                    <strong>Since:</strong>
                    <p>{{user.created}}</p>
                </div>
                <div>
                    <strong>Since:</strong>
                    <p>{{user.created}}</p>
                </div>
                <div>
                    <strong>Address:</strong>
                    <p>{{user.address}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <!-- <button class="btn btn-primary">Like</button> -->
                    <button class="btn btn-primary fw-bold">
                        <i class="fa fa-envelope p-2"></i>
                        Posts</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{user.firstName}}">
                <h4>Email</h4>
                <p>{{user.email}}</p>
                <h4>Phone Number</h4>
                <p>{{user.phone}}</p>
                <h4>Language</h4>
                <p>{{user.language}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Posts">
                <p>Posts goes here</p>
            </tab>
        </tabset>
    </div>
</div>