<div class="row" *ngIf="user">
    <div class="col-4">
        <div class="card shadow">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.firstName}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ | async)?.includes(user.userName)">
                    <i class="fa fa-user-circle text-success"> Online Now</i>
                </div>

                <h3>{{user.firstName}} {{user.lastName}}</h3>
                <div>
                    <strong>ID Number:</strong>
                    <p>{{user.idNumber}}</p>
                </div>
                <div>
                    <strong>Nationality:</strong>
                    <p>{{user.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{user.age}}</p>
                </div>
                <!-- <div>
                    <strong>Last active:</strong>
                    <p>{{user.lastActive | date}}</p>
                </div> -->
                <div>
                    <strong>Last active:</strong>
                    <p *ngIf="user.lastActive">{{user.lastActive | timeago}}</p>
                </div>
                <!-- <div>
                    <strong>Since:</strong>
                    <p>{{user.created | date: 'longDate'}}</p>
                </div> -->
                <div>
                    <strong>Since:</strong>
                    <p>{{user.created | date: 'dd MMM YYYY'}}</p>
                </div>
                <div>
                    <strong>Address:</strong>
                    <p>{{user.address}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <!-- <button class="btn btn-primary">Like</button> -->
                    <button class="btn btn-primary fw-bold">
                        <i class="fa fa-envelope p-2"></i>
                        Posts</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #userTabs>
            <tab heading="About {{user.firstName}}">
                <h4>Email</h4>
                <p>{{user.email}}</p>
                <h4>Phone Number</h4>
                <p>{{user.phone}}</p>
                <h4>Language</h4>
                <p>{{user.language}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Posts" (selectTab)="onTabActivated($event)">
                <div *ngIf="(postService.userPosts$ | async)?.length !== 0">
                    <ul class="list-group">
                        <div *ngFor="let post of (postService.userPosts$ | async)">
                            <app-post-card [post]="post"></app-post-card>
                        </div>
                    </ul>
                </div>
                <div *ngIf="(postService.userPosts$ | async)?.length === 0">
                    <ul class="no-posts">
                        <li>
                            <div class="card shadow m-2">
                                <div class="row p-3 align-items-center">
                                    <strong>No posts yet!</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </tab>
        </tabset>
    </div>
</div>