<div class="card my-2" *ngIf="event">
    <div class="row px-3 py-2">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-4 col-md-2">
                    <img width="60px" src="{{event.photoUrl}}" alt="">
                </div>
                <div class="col-8 col-md-3 fw-bold">{{event.title}}</div>
                <div class="col-6 col-md-3">{{event.date}} | {{event.time}} | {{event.location}}</div>
                <div class="col-6 col-md-2">
                    <span (click)="viewLikedUsers()" class="badge rounded-pill text-bg-primary mx-1">Likes: {{likes}}</span>
                    <span (click)="viewCommentedUsers()" class="badge rounded-pill text-bg-warning mx-1">Comments: {{comments}}</span>
                    <span (click)="viewInterestedUsers()" class="badge rounded-pill text-bg-success mx-1">Interested: {{interested}}</span>
                </div>
                <div class="col-12 col-md-2">
                    <button (click)="edit()" class="btn btn-outline-primary mx-1"><i class="fa fa-pencil"></i></button>
                    <button (click)="delete()" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #feedbackModal>
    <app-event-feedback [event]="event" [for]="modalFor" (hideModal)="hideModal()"></app-event-feedback>
</ng-template>