<div class="card shadow mb-4 ">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
        <h6 class="m-0 font-weight-bold text-primary ">Users Overview</h6>
        <div class="dropdown no-arrow ">
            <a class="dropdown-toggle " role="button " id="dropdownMenuLink " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400 "></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink ">
                <div class="dropdown-header ">Dropdown Header:</div>
                <a class="dropdown-item " href="# ">Action</a>
                <a class="dropdown-item " href="# ">Another action</a>
                <div class="dropdown-divider "></div>
                <a class="dropdown-item " href="# ">Something else here</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="chart-area">
            <canvas baseChart class="chart" [data]="lineChartData " [options]="lineChartOptions " [type]="lineChartType " (chartHover)="chartHovered($event) " (chartClick)="chartClicked($event) "></canvas>
            <table class="table table-striped table-hover table-responsive my-3">
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let label of lineChartData.labels" class="fw-bold">{{label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                    <tr *ngFor="let d of lineChartData.datasets; let i=index " [class]=" 'line-'+i ">
                        <td class="fw-bold">{{d.label}}</td>
                        <td *ngFor="let label of lineChartData.labels; let j=index ">{{d && d.data[j]}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn btn-group">
                <button class="btn btn-primary" (click)="hideOne(0) ">Members</button>
                <button class="btn btn-primary" (click)="hideOne(1) ">Moderators</button>
                <button class="btn btn-primary" (click)="hideOne(2) ">Admins</button>
                <button class="btn btn-primary" (click)="changeColor() ">Recolor</button>
            </div>
            <button class="btn btn-primary visually-hidden" (click)="randomize() ">Randomize</button>
            <button class="btn btn-primary visually-hidden" (click)="pushOne() ">Push</button>
            <button class="btn btn-primary visually-hidden" (click)="changeLabel() ">Change Label</button>
        </div>
    </div>
</div>